<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.dao.CommodityImgMapper">
  <resultMap id="BaseResultMap" type="com.linkpets.model.CommodityImg">
    <id column="commodity_img_id" jdbcType="VARCHAR" property="commodityImgId" />
    <result column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    commodity_img_id, commodity_id, img_name, img_url, del_flag
  </sql>
  <insert id="insertSelective" parameterType="com.linkpets.model.CommodityImg">
    insert into commodity_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityImgId != null">
        commodity_img_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="imgName != null">
        img_name,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityImgId != null">
        #{commodityImgId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null">
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.model.CommodityImg">
    update commodity_img
    <set>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null">
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where commodity_img_id = #{commodityImgId,jdbcType=VARCHAR}
  </update>
</mapper>