<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.dao.SysUserRoleRelMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.model.SysUserRoleRel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <resultMap id="BaseRoleUserMap" type="com.linkpets.responseModel.system.SysRoleUserRes">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="user_account" jdbcType="VARCHAR" property="userAccount"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="is_add" jdbcType="INTEGER" property="isAdd"/>
    </resultMap>
    <resultMap id="BaseUserRoleMap" type="com.linkpets.responseModel.system.SysUserRoleRes">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_description" jdbcType="VARCHAR" property="roleDescription"/>
        <result column="is_add" jdbcType="INTEGER" property="isAdd"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, role_id, del_flag, create_date
  </sql>
    <insert id="insertSelective" parameterType="com.linkpets.model.SysUserRoleRel">
        insert into sys_user_role_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.model.SysUserRoleRel">
        update sys_user_role_rel
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="getSysRoleUserPage" resultMap="BaseRoleUserMap">
        select u.user_id,user_account,user_name,mobile_phone,email,r.role_id,case when r.role_id is null then
        0 else 1 end as is_add
        from sys_user u
        left join sys_user_role_rel r
        on u.user_id = r.user_id and r.del_flag = 1 and r.role_id = #{roleId}
        where u.del_flag = 1
        <if test="userAccount!=null and userAccount!=''">
            and u.user_account like CONCAT(#{userAccount},'%')
        </if>
        <if test="userName!=null and userName!=''">
            and u.user_name like CONCAT(#{userName},'%')
        </if>
        order by u.create_date desc
    </select>
    <select id="getSysUserRolePage" resultMap="BaseUserRoleMap">
        select r.role_id,r.role_name,r.role_code,r.role_description,rr.user_id,case when rr.user_id is null then
        0 else 1 end as is_add
        from sys_role r
        left join sys_user_role_rel rr
        on rr.role_id = r.role_id and rr.del_flag = 1 and rr.user_id = #{userId}
        where r.del_flag = 1
        <if test="roleName!=null and roleName!=''">
            and r.role_name like CONCAT(#{roleName},'%')
        </if>
        <if test="roleCode!=null and roleCode!=''">
            and r.role_code like CONCAT(#{roleCode},'%')
        </if>
    </select>
</mapper>